# Entornos virtuales
venv/
env/
*.env

# Archivos generados automáticamente
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de registro y archivos temporales
*.log
*.swp
*.tmp

# Archivos de configuración locales
*.sqlite3